<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key = "server" value=""/>
    <add key = "slackBotToken" value=""/>
    <add key = "slackApiUrl" value="https://slack.com/api/chat.postMessage"/>
    <add key = "channel" value=""/>
    <add key = "botName" value=""/>
    <add key = "iconUrl" value=""/>
  </appSettings>
</configuration>